style.
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
  }
  .container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .header {
    background-color: #007BFF;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .header img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  .section {
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
  }
  .section:last-child {
    margin-bottom: 0;
  }
  .product {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    padding: 20px;
  }
  .product:last-child {
    border-bottom: none;
  }
  .product-image {
    flex: 0 0 30%;
    margin-right: 20px;
  }
  .product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .product-details {
    flex: 1;
  }
  .product h2 {
    margin: 0;
    font-size: 18px;
    color: #333333;
  }
  .product p {
    margin: 5px 0;
    color: #666666;
  }
  .header {
    background-color: #007BFF;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .header h2 {
    margin-top: 0;
    font-size: 20px;
  }
  .header p {
    margin: 10px 0;
    font-size: 14px;
  }
  .header-input-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .header-input {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    margin-right: 10px;
    width: 70%;
  }
  .header-button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #6366f1;
    color: #ffffff;
    cursor: pointer;
  }