extends baseEmail

block content
  p Bonjour #{firstName},
  p Avez-vous oublié votre mot de passe ? Soumettez une demande de  renouvellement de mot de passe !: #{url}.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Réinitialiser votre mot de passe
  p Si vous n'avez pas oublié votre mot de passe, veuillez ignorer cet e-mail !
