extends baseEmail

block content
  h1 Votre mot de passe a été mise à jour avec succès, #{firstName} !
  p Nous vous confirmons que votre mot de passe a été mise à jour avec succès.
  p Si vous n'êtes pas à l'origine de cette demande, veuillez contacter notre support immédiatement.
  p
    a(href='julu-and-peer@gmail.com') Contacter le support
  p Merci,
  p L'équipe Julu-and-peer