extends baseEmail

block content
  h1 Votre mot de passe doit être renouvelé, #{firstName} !
  p Veuillez cliquer sur le lien ci-dessous pour renouveler votre mot de passe :
  p
    a(href=url) Renouveler mon mot de passe
  p Si vous n'avez pas demandé ce changement de mot de passe, veuillez ignorer cet e-mail.
